nav.nav-container
    .navbar
        .logo
            img(src="images/logo.svg", alt="logo")
        .div-top-hypers
            ul.ul-top-hypers
                li
                    a.a-top-hypers(href="#Social") Social Media Packages
                li
                    a.a-top-hypers(href="#Growth") Growth Guides
                li
                    a.a-top-hypers(href="#Contact") Contact
        
        .burger-menu
        .burger-menu__btn
            .burger-menu__btn-inner
            
    .main-section
        .nav-h1
            span.title-first Your results
            span.title-second ARE POSITIVE
            p But it’s good news
            button.cta START YOUR GROWTH
        .rocket-img
            img(src="images/rocket.png", alt="rocket")