.bottom-section{
    background-image: url(../images/bottomBg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    .firework{
        padding-top: 90px;
    }
    .firework>img{
        width: 100%;
        padding-left: 30px;
    }
    .firework:hover{
        animation: firework 8s linear 0s infinite normal none;
    }
    @keyframes firework {
        0%,100% {
          transform: translateY(0);
        }
        10%, 30%, 50%, 70% {
          transform: translateY(-8px);
        }
        20%, 40%, 60% {
          transform: translateY(8px);
        }
        80% {
          transform: translateY(6.4px);
        }
        90% {
          transform: translateY(-6.4px);
        }
      }
}