.nav-container{
    width: auto;
    background-image: url(../images/topBg.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.navbar{
    padding: 40px 165px 0px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        z-index: 1;
        flex: 1;
    }
        .ul-top-hypers{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
        }
            .a-top-hypers{
                text-decoration: none;
                color: #FFFFFF;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-weight: 600;
                margin-left: 40px;
            }
            .a-top-hypers:hover{
                color: #EB7AAB;
            }
            .a-top-hypers:active{
                border-bottom: 2px solid #EB7AAB;
            }
        .burger-menu{
            display: none;
            z-index: 3;
        }
}
.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 

    .nav-h1{
        padding: 124px 0px 0px 165px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        grid-area: 1 / 1 / 2 / 4;
        width: max-content;
        z-index: 1;
        .title-first{
            font-size: 64px;
            font-weight: 100;
            font-family:  'Montserrat', sans-serif;
        }
        .title-second{
            font-size: 64px;
            font-weight: 800;
            font-family:  'Montserrat', sans-serif;
        }
        p{
            font-size: 24px;
            font-weight: 400;
            font-family:  'Montserrat', sans-serif;
            padding-bottom: 70px;
        }
        .cta{
            width: 255px;
            height: 48px;
            background: linear-gradient(260.2deg, #6FCCDD -101.8%, #F27AAA 19.84%, #9278B6 132.12%), #C4C4C4;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            font-weight: 600;
            border: 0px;
        }
        .cta:active{
            transform: translateY(3px);
        }
    }
    .rocket-img{
        padding: 40px 0px 0px 60px;
        grid-area: 1 / 2 / 2 / 4;
    }
    .rocket-img>img {
        width: 100%;
    }
    .rocket-img:hover{
        animation: rocket 8s linear 0s infinite normal none;
    }
    @keyframes rocket {
        0%,100% {
          transform: translateY(0);
        }
        10%, 30%, 50%, 70% {
          transform: translateY(-8px);
        }
        20%, 40%, 60% {
          transform: translateY(8px);
        }
        80% {
          transform: translateY(6.4px);
        }
        90% {
          transform: translateY(-6.4px);
        }
      }
}
@media (max-width: 1155px){
    .navbar{
        padding: 40px 35px 0px 165px;
    }
}

@media (max-width: 1025px){
    .navbar{
        padding: 30px 30px 0px 30px;
        .a-top-hypers{
            margin-left: 20px;
        }
    }
}
@media (max-width: 950px){
    .main-section{
        .rocket-img{
            grid-area: 1/2/2/5;
        }
        .rocket-img>embed{
            width: 100%;
        }
    }
}
@media (max-width: 720px){
    .navbar{
        .div-top-hypers{
            display: none;
        }
        .ul-top-hypers{
            display: none;
        }
    }
    .burger-menu__btn{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 14px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        z-index: 3;
    }
    .burger-menu__btn-inner{
        display: flex;
        justify-content: flex-end;
        width: 24px;
        height: 2px;
        background: #FFFFFF;
        border-radius: 2px;
        transition: all .3s ease-in-out;
    }
    .burger-menu__btn-inner::before,
    .burger-menu__btn-inner::after{
        content: '';
        position: absolute;
        width: 16px;
        height: 2px;
        background: #FFFFFF;
        border-radius: 2px;
        transition: all .3s ease-in-out;
    }
    .burger-menu__btn-inner::before{
        transform: translateY(-5px);
    }
    .burger-menu__btn-inner::after{
        transform: translateY(5px);
    }
    .burger-menu__btn.open .burger-menu__btn-inner{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
        z-index: 3;
    }
    .burger-menu__btn.open .burger-menu__btn-inner::before{
        transform: rotate(45deg) translate(35px, -35px);
        width: 24px;
    }
    .burger-menu__btn.open .burger-menu__btn-inner::after{
        transform: rotate(-45deg) translate(35px, 35px);
        width: 24px;
    }
    .burger-menu{
        display: block;
    }
}
@media (max-width: 665px){
    .navbar{
        padding: 20px 35px 0px 35px;
    }
    .main-section{    
        .nav-h1{
            padding: 65px 0px 0px 35px;
            .title-first{
                font-size: 35px;
            }
            .title-second{
                font-size: 35px;
            }
            p{
                font-size: 16px;
                padding-bottom: 30px;
            }
        }
    }
}